{
    "swagger": "2.0",
    "info": {
      "title": "API Documentation",
      "version": "1.0.0",
      "description": "API Documentation"
    },
    "tags": [
        {
            "name": "Request Reimbursement",
            "description": "Manage reimbursement requests"
        },
        {
           "name": "Attendances",
           "description": "Manage attendances"
        },
        {
          "name": "Request Leave",
          "description": "Manage Leave Request"
        },
        {
          "name": "Targets",
          "description": "Manage Targets"
        },
        {
          "name": "Target Reports",
          "description": "Manage Reports Target"
        },
        {
          "name": "HR Activity Logs",
          "description": "Manage HR Activity Logs"
        }
    ],
    "host": "node.flattenbot.site",
    "basePath": "/v1",
    "schemes": ["https"],
    "paths": {
      "/request-reimbursement": {
        "get": {
          "tags": [
            "Request Reimbursement"
          ],
          "summary": "Get data request-reimbursement",
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "type": "object",
                "properties": {
                  "status_code": {
                    "type": "integer",
                    "example": 200
                  },
                  "result": {
                    "type": "string",
                    "example": "success"
                  },
                  "message": {
                    "type": "string",
                    "example": "successfully fetch data"
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "user_id": {
                          "type": "integer",
                          "example": 1
                        },
                        "description": {
                          "type": "string",
                          "example": "some description"
                        },
                        "type": {
                          "type": "string",
                          "example": "transportation"
                        },
                        "nominal": {
                          "type": "string",
                          "example": "300000"
                        },
                        "url_proof": {
                          "type": "string",
                          "example": "https://localhost.com/proof.jpg"
                        },
                        "status": {
                          "type": "string",
                          "example": "pending"
                        },
                        "created_date": {
                          "type": "string",
                          "example": "15-01-2023"
                        },
                        "updated_date": {
                          "type": "string",
                          "example": "17-01-2023"
                        },
                        "deleted_at": {
                          "type": "string",
                          "example": null
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "type": "object",
                "properties": {
                  "status_code": {
                    "type": "integer",
                    "example": 400
                  },
                  "result": {
                    "type": "string",
                    "example": "error"
                  },
                  "message": {
                    "type": "string",
                    "example": "invalid params query"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "schema": {
                "type": "object",
                "properties": {
                  "status_code": {
                    "type": "integer",
                    "example": 401
                  },
                  "result": {
                    "type": "string",
                    "example": "error"
                  },
                  "message": {
                    "type": "string",
                    "example": "unauthorized"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "schema": {
                "type": "object",
                "properties": {
                  "status_code": {
                    "type": "integer",
                    "example": 404
                  },
                  "result": {
                    "type": "string",
                    "example": "error"
                  },
                  "message": {
                    "type": "string",
                    "example": "data not found"
                  },
                  "data": {
                    "type": "array",
                    "items": {}
                  }
                }
              }
            }
          }
        },
        "post": {
          "summary": "Create request-reimbursement",
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "type": "object",
                "properties": {
                  "status_code": {
                    "type": "integer",
                    "example": 200
                  },
                  "result": {
                    "type": "string",
                    "example": "success"
                  },
                  "message": {
                    "type": "string",
                    "example": "record has been created"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "type": "object",
                "properties": {
                  "status_code": {
                    "type": "integer",
                    "example": 400
                  },
                  "result": {
                    "type": "string",
                    "example": "error"
                  },
                  "message": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "example": "description field is required"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "schema": {
                "type": "object",
                "properties": {
                  "status_code": {
                    "type": "integer",
                    "example": 401
                  },
                  "result": {
                    "type": "string",
                    "example": "error"
                  },
                  "message": {
                    "type": "string",
                    "example": "unauthorized"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "schema": {
                "type": "object",
                "properties": {
                  "status_code": {
                    "type": "integer",
                    "example": 500
                  },
                  "result": {
                    "type": "string",
                    "example": "error"
                  },
                  "message": {
                    "type": "string",
                    "example": "internal server error"
                  }
                }
              }
            }
          }
        }
      },
      "/request-reimbursement/{reimbursement_id}": {
        "get": {
          "tags": [
            "Request Reimbursement"
          ],
          "summary": "Get details request-reimbursement",
          "parameters": [
            {
              "in": "path",
              "name": "reimbursement_id",
              "required": true,
              "type": "integer"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "type": "object",
                "properties": {
                  "status_code": {
                    "type": "integer",
                    "example": 200
                  },
                  "result": {
                    "type": "string",
                    "example": "success"
                  },
                  "message": {
                    "type": "string",
                    "example": "successfully fetch data"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "user_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "description": {
                        "type": "string",
                        "example": "some description"
                      },
                      "type": {
                        "type": "string",
                        "example": "transportation"
                      },
                      "nominal": {
                        "type": "string",
                        "example": "300000"
                      },
                      "url_proof": {
                        "type": "string",
                        "example": "https://localhost.com/proof.jpg"
                      },
                      "status": {
                        "type": "string",
                        "example": "pending"
                      },
                      "created_date": {
                        "type": "string",
                        "example": "15-01-2023"
                      },
                      "updated_date": {
                        "type": "string",
                        "example": "17-01-2023"
                      },
                      "deleted_at": {
                        "type": "string",
                        "example": null
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "schema": {
                "type": "object",
                "properties": {
                  "status_code": {
                    "type": "integer",
                    "example": 401
                  },
                  "result": {
                    "type": "string",
                    "example": "error"
                  },
                  "message": {
                    "type": "string",
                    "example": "unauthorized"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "schema": {
                "type": "object",
                "properties": {
                  "status_code": {
                    "type": "integer",
                    "example": 404
                  },
                  "result": {
                    "type": "string",
                    "example": "error"
                  },
                  "message": {
                    "type": "string",
                    "example": "data not found"
                  },
                  "data": {
                    "type": "object"
                  }
                }
              }
            },
            "500": {
              "description": "Internal Server Error",
              "schema": {
                "type": "object",
                "properties": {
                  "status_code": {
                    "type": "integer",
                    "example": 500
                  },
                  "result": {
                    "type": "string",
                    "example": "error"
                  },
                  "message": {
                    "type": "string",
                    "example": "internal server error"
                  }
                }
              }
            }
          }
        },
        "put": {
          "tags": [
            "Request Reimbursement"
          ],
          "summary": "Update request-reimbursement",
          "parameters": [
            {
              "in": "path",
              "name": "reimbursement_id",
              "required": true,
              "type": "integer"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "type": "object",
                "properties": {
                  "status_code": {
                    "type": "integer",
                    "example": 200
                  },
                  "result": {
                    "type": "string",
                    "example": "success"
                  },
                  "message": {
                    "type": "string",
                    "example": "successfully update data"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "user_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "description": {
                        "type": "string",
                        "example": "some description"
                      },
                      "type": {
                        "type": "string",
                        "example": "transportation"
                      },
                      "nominal": {
                        "type": "string",
                        "example": "300000"
                      },
                      "url_proof": {
                        "type": "string",
                        "example": "https://localhost.com/proof.jpg"
                      },
                      "status": {
                        "type": "string",
                        "example": "approved"
                      },
                      "created_date": {
                        "type": "string",
                        "example": "15-01-2023"
                      },
                      "updated_date": {
                        "type": "string",
                        "example": "17-01-2023"
                      },
                      "deleted_at": {
                        "type": "string",
                        "example": null
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "schema": {
                "type": "object",
                "properties": {
                  "status_code": {
                    "type": "integer",
                    "example": 400
                  },
                  "result": {
                    "type": "string",
                    "example": "error"
                  },
                  "message": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "example": "description field is required"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "schema": {
                "type": "object",
                "properties": {
                  "status_code": {
                    "type": "integer",
                    "example": 401
                  },
                  "result": {
                    "type": "string",
                    "example": "error"
                  },
                  "message": {
                    "type": "string",
                    "example": "unauthorized"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "schema": {
                "type": "object",
                "properties": {
                  "status_code": {
                    "type": "integer",
                    "example": 404
                  },
                  "result": {
                    "type": "string",
                    "example": "error"
                  },
                  "message": {
                    "type": "string",
                    "example": "record to update not found"
                  }
                }
              }
            }
          }
        },
        "delete": {
          "tags": [
            "Request Reimbursement"
          ],
          "summary": "Delete request-reimbursement",
          "parameters": [
            {
              "in": "path",
              "name": "reimbursement_id",
              "required": true,
              "type": "integer"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "type": "object",
                "properties": {
                  "status_code": {
                    "type": "integer",
                    "example": 200
                  },
                  "result": {
                    "type": "string",
                    "example": "success"
                  },
                  "message": {
                    "type": "string",
                    "example": "record has been deleted"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "schema": {
                "type": "object",
                "properties": {
                  "status_code": {
                    "type": "integer",
                    "example": 401
                  },
                  "result": {
                    "type": "string",
                    "example": "error"
                  },
                  "message": {
                    "type": "string",
                    "example": "unauthorized"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "schema": {
                "type": "object",
                "properties": {
                  "status_code": {
                    "type": "integer",
                    "example": 404
                  },
                  "result": {
                    "type": "string",
                    "example": "error"
                  },
                  "message": {
                    "type": "string",
                    "example": "data not found"
                  }
                }
              }
            }
          }
        }
      },
    "/attendances": {
      "get": {
        "tags": [
          "Attendances"
        ],
        "summary": "Get data attendances",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "successfully fetch data"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "user_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "is_checkout": {
                        "type": "boolean",
                        "example": true
                      },
                      "created_date": {
                        "type": "string",
                        "example": "15-01-2023"
                      },
                      "updated_date": {
                        "type": "string",
                        "example": "17-01-2023"
                      },
                      "deleted_at": {
                        "type": "string",
                        "example": null
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 400
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "invalid params query"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 401
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 404
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "data not found"
                },
                "data": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Attendances"
        ],
        "summary": "Create data attendances",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "record present has been created"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 401
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 500
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/request-leaves": {
      "get": {
        "tags": [
          "Request Leave"
        ],
        "summary": "Get data request-leaves",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "successfully fetch data"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "user_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "reason": {
                        "type": "string",
                        "example": "some reason"
                      },
                      "started_date": {
                        "type": "string",
                        "example": "20-01-2023"
                      },
                      "ended_date": {
                        "type": "string",
                        "example": "23-01-2023"
                      },
                      "url_proof": {
                        "type": "string",
                        "example": "https://localhost.com/proof.jpg"
                      },
                      "status": {
                        "type": "string",
                        "example": "pending"
                      },
                      "created_date": {
                        "type": "string",
                        "example": "15-01-2023"
                      },
                      "updated_date": {
                        "type": "string",
                        "example": "17-01-2023"
                      },
                      "deleted_at": {
                        "type": "string",
                        "example": null
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 404
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "data not found"
                },
                "data": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Request Leave"
        ],
        "summary": "Create request-leaves",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "record has been created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 400
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "reason": {
                      "type": "string",
                      "example": "reason field is required"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/request-leaves/{user_id}": {
      "get": {
        "tags": [
          "Request Leave"
        ],
        "summary": "Get details request-leaves",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "successfully fetch data"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "user_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "reason": {
                      "type": "string",
                      "example": "some reason"
                    },
                    "started_date": {
                      "type": "string",
                      "example": "20-01-2023"
                    },
                    "ended_date": {
                      "type": "string",
                      "example": "23-01-2023"
                    },
                    "url_proof": {
                      "type": "string",
                      "example": "https://localhost.com/proof.jpg"
                    },
                    "pending": {
                      "type": "string",
                      "example": "pending"
                    },
                    "created_date": {
                      "type": "string",
                      "example": "15-01-2023"
                    },
                    "updated_date": {
                      "type": "string",
                      "example": "17-01-2023"
                    },
                    "deleted_at": {
                      "type": "string",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 404
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "data not found"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Request Leave"
        ],
        "summary": "Update request-leaves",
        "parameters": [
          {
            "name": "leaves_id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "successfully update data"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "user_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "reason": {
                      "type": "string",
                      "example": "some reason updated"
                    },
                    "started_date": {
                      "type": "string",
                      "example": "20-01-2023"
                    },
                    "ended_date": {
                      "type": "string",
                      "example": "23-01-2023"
                    },
                    "url_proof": {
                      "type": "string",
                      "example": "https://localhost.com/proof.jpg"
                    },
                    "pending": {
                      "type": "string",
                      "example": "pending"
                    },
                    "created_date": {
                      "type": "string",
                      "example": "15-01-2023"
                    },
                    "updated_date": {
                      "type": "string",
                      "example": "17-01-2023"
                    },
                    "deleted_at": {
                      "type": "string",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 400
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "reason": {
                      "type": "string",
                      "example": "reason field is required"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Request Leave"
        ],
        "summary": "Delete request-leaves",
        "parameters": [
          {
            "name": "leaves_id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "record has been deleted"
                }
              }
            }
          },
          "404": {
            "description": "Data Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 404
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "data not found"
                }
              }
            }
          }
        }
      }
    },
    "/targets": {
      "get": {
        "tags": [
          "Targets"
        ],
        "summary": "Get targets",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "successfully fetch data"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "user_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "product": {
                        "type": "string",
                        "example": "product_name"
                      },
                      "quantity": {
                        "type": "integer",
                        "example": 100
                      },
                      "ended_date": {
                        "type": "string",
                        "example": "23-01-2023"
                      },
                      "created_date": {
                        "type": "string",
                        "example": "15-01-2023"
                      },
                      "updated_date": {
                        "type": "string",
                        "example": "17-01-2023"
                      },
                      "deleted_date": {
                        "type": "string",
                        "example": null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Targets"
        ],
        "summary": "Create target",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "record has been created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 400
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "product": {
                      "type": "string",
                      "example": "product field is required"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/targets/{id}": {
      "get": {
        "tags": [
          "Targets"
        ],
        "summary": "Get target by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "successfully fetch data"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "user_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "product": {
                      "type": "string",
                      "example": "product_name"
                    },
                    "quantity": {
                      "type": "integer",
                      "example": 100
                    },
                    "ended_date": {
                      "type": "string",
                      "example": "23-01-2023"
                    },
                    "created_date": {
                      "type": "string",
                      "example": "15-01-2023"
                    },
                    "updated_date": {
                      "type": "string",
                      "example": "17-01-2023"
                    },
                    "deleted_date": {
                      "type": "string",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 404
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "data not found"
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Targets"
        ],
        "summary": "Update target by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "successfully update data"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "user_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "product": {
                      "type": "string",
                      "example": "product_name_updated"
                    },
                    "quantity": {
                      "type": "integer",
                      "example": 200
                    },
                    "ended_date": {
                      "type": "string",
                      "example": "23-01-2023"
                    },
                    "created_date": {
                      "type": "string",
                      "example": "15-01-2023"
                    },
                    "updated_date": {
                      "type": "string",
                      "example": "17-01-2023"
                    },
                    "deleted_date": {
                      "type": "string",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 400
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "product": {
                      "type": "string",
                      "example": "product field is required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 404
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "record to update not found"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Targets"
        ],
        "summary": "Delete target by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "record has been deleted"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 404
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "data not found"
                }
              }
            }
          }
        }
      }
    },
    "/target_reports": {
      "get": {
        "tags": [
          "Target Reports"
        ],
        "summary": "Get target reports",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "successfully fetch data"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "user_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "target_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "status": {
                        "type": "string",
                        "example": "completed"
                      },
                      "url_proof": {
                        "type": "string",
                        "example": "https://localhost.com/proof.jpg"
                      },
                      "created_date": {
                        "type": "string",
                        "example": "15-01-2023"
                      },
                      "updated_date": {
                        "type": "string",
                        "example": "17-01-2023"
                      },
                      "deleted_date": {
                        "type": "string",
                        "example": null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Target Reports"
        ],
        "summary": "Create target report",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "record has been created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 400
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "status field is required"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/target_reports/{id}": {
      "get": {
        "tags": [
          "Target Reports"
        ],
        "summary": "Get target report by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "successfully fetch data"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "user_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "target_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "status": {
                      "type": "string",
                      "example": "completed"
                    },
                    "url_proof": {
                      "type": "string",
                      "example": "https://localhost.com/proof.jpg"
                    },
                    "created_date": {
                      "type": "string",
                      "example": "15-01-2023"
                    },
                    "updated_date": {
                      "type": "string",
                      "example": "17-01-2023"
                    },
                    "deleted_date": {
                      "type": "string",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 404
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "data not found"
                },
                "data": {
                  "type": "null"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Target Reports"
        ],
        "summary": "Update target report by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "successfully update data"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "user_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "target_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "status": {
                      "type": "string",
                      "example": "completed"
                    },
                    "url_proof": {
                      "type": "string",
                      "example": "https://localhost.com/proof.jpg"
                    },
                    "created_date": {
                      "type": "string",
                      "example": "15-01-2023"
                    },
                    "updated_date": {
                      "type": "string",
                      "example": "17-01-2023"
                    },
                    "deleted_date": {
                      "type": "string",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 400
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "status field is required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 404
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "record to update not found"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Target Reports"
        ],
        "summary": "Delete target report by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "record has been deleted"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 404
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "data not found"
                }
              }
            }
          }
        }
      }
    },
    "/hr-activity-logs": {
      "get": {
        "tags": [
          "HR Activity Logs"
        ],
        "summary": "Get HR activity logs",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "successfully fetch data"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "user_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "logs": {
                        "type": "string",
                        "example": "example_log"
                      },
                      "leave_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "reimbursment_id": {
                        "type": "integer",
                        "example": 1
                      },
                      "created_at": {
                        "type": "string",
                        "example": "15-01-2023"
                      },
                      "updated_at": {
                        "type": "string",
                        "example": "17-01-2023"
                      },
                      "deleted_at": {
                        "type": "string",
                        "example": null
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "HR Activity Logs"
        ],
        "summary": "Create HR activity log",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "record has been created"
                }
              }
            }
          }
        }
      }
    },
    "/hr-activity-logs/{id}": {
      "get": {
        "tags": [
          "HR Activity Logs"
        ],
        "summary": "Get HR activity log by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "successfully fetch data"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "user_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "logs": {
                      "type": "string",
                      "example": "example_log"
                    },
                    "leave_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "reimbursment_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "created_at": {
                      "type": "string",
                      "example": "15-01-2023"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "17-01-2023"
                    },
                    "deleted_at": {
                      "type": "string",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 404
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "data not found"
                },
                "data": {
                  "type": "null"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "HR Activity Logs"
        ],
        "summary": "Update HR activity log by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "successfully update data"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "user_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "logs": {
                      "type": "string",
                      "example": "example_log_updated"
                    },
                    "leave_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "reimbursment_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "created_at": {
                      "type": "string",
                      "example": "15-01-2023"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "17-01-2023"
                    },
                    "deleted_at": {
                      "type": "string",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 404
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "record to update not found"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HR Activity Logs"
        ],
        "summary": "Delete HR activity log by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 200
                },
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "example": "record has been deleted"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "example": 404
                },
                "result": {
                  "type": "string",
                  "example": "error"
                },
                "message": {
                  "type": "string",
                  "example": "data not found"
                }
              }
            }
          }
        }
      }
    }
  }
}
